<div class="example-form">
  <p>
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input matInput placeholder="username" value="" [formControl]="usernameControl">
  </mat-form-field>
  </p>
  <p>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput placeholder="password" value="" [formControl]="passwordControl">
  </mat-form-field>
  </p>
  <button mat-raised-button color="primary" (click)="login()">
    Login
  </button>
  <button routerLink="/signup" mat-raised-button color="primary" (click)="login()">
    Sign up
  </button>
</div>
