<mat-toolbar color="primary">
  <a routerLink="/" matTooltip="Open main page" class="home-link">E-shop</a>

  <div class="d-flex flex-fill"></div>

  <!-- Account btn -->
  <button
    *ngIf="(isLogged$ | async)?.valueOf()"
    [matMenuTriggerFor]="menu"
    matTooltip="Open account menu"
    mat-icon-button
  >
    <mat-icon>account_circle</mat-icon>
  </button>


  <button *ngIf="!(isLogged$ | async)?.valueOf()" mat-button style="color: chartreuse">
    <a routerLink="login">Login</a>
  </button>
  <button *ngIf="!(isLogged$ | async)?.valueOf()" mat-button color="accent">
    <a routerLink="signup">Sign up</a>
  </button>
  <button *ngIf="(isLogged$ | async)?.valueOf()" mat-button color="accent" (click)="logout()">
    Logout
  </button>
  <!-- Cart btn -->
  <button *ngIf="(isLogged$ | async)?.valueOf()" routerLink="cart" matTooltip="Go to cart" mat-icon-button>
    <mat-icon [matBadge]="totalCount$ | async" matBadgeColor="accent"
    >shopping_cart
    </mat-icon
    >
  </button>

</mat-toolbar>

<mat-menu #menu="matMenu">
  <a routerLink="admin/orders" mat-menu-item>Manage orders</a>
  <a routerLink="admin/products" mat-menu-item>Manage products</a>
</mat-menu>
